* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    padding-top: 60px;
    overflow-x: hidden;
}

.navbar {
    position: fixed;              
    top: 0;                      
    left: 0;
    width: 100%;                 
    z-index: 10;                 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 5px rgba(56, 55, 55, 0.2);
}

.logo-button {
    display: inline-block;
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.logo-button:hover {
    color: #29fa1e;
}

.defaultNav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.defaultNav li {
    margin-left: 20px;
}

.defaultNav li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
}

.defaultNav li a:hover, .defaultNav li a.active-page {
    color: #29fa1e;
}

.defaultNav li a.active-page {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #29fa1e;
}
